In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv("Fruits.csv")

In [3]:
data

,Fruit Category,Fruit Name,Fruit Weight,Fruit Width,Fruit Length,Fruit Colour Score
0,1,Apple,192,8.4,7.3,0.55
1,1,Apple,180,8.0,6.8,0.59
2,1,Apple,176,7.4,7.2,0.60
3,1,Apple,178,7.1,7.8,0.92
4,1,Apple,172,7.4,7.0,0.89
5,1,Apple,166,6.9,7.3,0.93
6,1,Apple,172,7.1,7.6,0.92
7,1,Apple,154,7.0,7.1,0.88
8,1,Apple,164,7.3,7.7,0.70
9,1,Apple,152,7.6,7.3,0.69
10,1,Apple,156,7.7,7.1,0.69
11,1,Apple,156,7.6,7.5,0.67
12,1,Apple,168,7.5,7.6,0.73
13,1,Apple,162,7.5,7.1,0.83
14,1,Apple,162,7.4,7.2,0.85
15,1,Apple,160,7.5,7.5,0.86
16,1,Apple,156,7.4,7.4,0.84
17,1,Apple,140,7.3,7.1,0.87
18,1,Apple,170,7.6,7.9,0.88
19,2,Orange,86,6.2,4.7,0.80
20,2,Orange,84,6.0,4.6,0.79
21,2,Orange,80,5.8,4.3,0.77
22,2,Orange,80,5.9,4.3,0.81
23,2,Orange,76,5.8,4.0,0.81
24,2,Orange,342,9.0,9.4,0.75
25,2,Orange,356,9.2,9.2,0.75
26,2,Orange,362,9.6,9.2,0.74
27,2,Orange,204,7.5,9.2,0.77
28,2,Orange,140,6.7,7.1,0.72
29,2,Orange,160,7.0,7.4,0.81
30,2,Orange,158,7.1,7.5,0.79
31,2,Orange,210,7.8,8.0,0.82
32,2,Orange,164,7.2,7.0,0.80
33,2,Orange,190,7.5,8.1,0.74
34,2,Orange,142,7.6,7.8,0.75
35,2,Orange,150,7.1,7.9,0.75
36,2,Orange,160,7.1,7.6,0.76
37,2,Orange,154,7.3,7.3,0.79
38,2,Orange,158,7.2,7.8,0.77
39,2,Orange,144,6.8,7.4,0.75
40,2,Orange,154,7.1,7.5,0.78
41,2,Orange,180,7.6,8.2,0.79
42,2,Orange,154,7.2,7.2,0.82
43,3,Lemon,97,7.2,10.3,0.70
44,3,Lemon,70,7.3,10.5,0.72
45,3,Lemon,93,7.2,9.2,0.72
46,3,Lemon,80,7.3,10.2,0.71
47,3,Lemon,98,7.3,9.7,0.72
48,3,Lemon,87,7.3,10.1,0.72
49,3,Lemon,66,5.8,8.7,0.73
50,3,Lemon,65,6.0,8.2,0.71
51,3,Lemon,58,6.0,7.5,0.72
52,3,Lemon,59,5.9,8.0,0.72
53,3,Lemon,60,6.0,8.4,0.74
54,3,Lemon,58,6.1,8.5,0.71
55,3,Lemon,58,6.3,7.7,0.72
56,3,Lemon,58,5.9,8.1,0.73
57,3,Lemon,76,6.5,8.5,0.72
58,3,Lemon,59,6.1,8.1,0.70

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Fruit Category      59 non-null     int64
 1   Fruit Name          59 non-null     object
 2   Fruit Weight        59 non-null     int64
 3   Fruit Width         59 non-null     float64
 4   Fruit Length        59 non-null     float64
 5   Fruit Colour Score  59 non-null     float64
dtypes: float64(3), int64(2), object(1)
memory usage: 2.9+ KB

In [4]:
data.describe()

,Fruit Category,Fruit Weight,Fruit Width,Fruit Length,Fruit Colour Score
count,59.000000,59.000000,59.000000,59.000000,59.000000
mean,1.949153,141.796610,7.105085,7.693220,0.762881
std,0.775125,67.335951,0.816938,1.361017,0.076857
min,1.000000,58.000000,5.800000,4.000000,0.550000
25%,1.000000,82.000000,6.600000,7.200000,0.720000
50%,2.000000,154.000000,7.200000,7.600000,0.750000
75%,3.000000,167.000000,7.500000,8.200000,0.810000
max,3.000000,362.000000,9.600000,10.500000,0.930000

In [5]:
data.columns

Index(['Fruit Category', 'Fruit Name', 'Fruit Weight', 'Fruit Width',
       'Fruit Length', 'Fruit Colour Score'],
      dtype='object')

In [8]:
data.head()

,Fruit Category,Fruit Name,Fruit Weight,Fruit Width,Fruit Length,Fruit Colour Score
0,1,Apple,192,8.4,7.3,0.55
1,1,Apple,180,8.0,6.8,0.59
2,1,Apple,176,7.4,7.2,0.60
3,1,Apple,178,7.1,7.8,0.92
4,1,Apple,172,7.4,7.0,0.89

In [10]:
data.tail()

,Fruit Category,Fruit Name,Fruit Weight,Fruit Width,Fruit Length,Fruit Colour Score
54,3,Lemon,58,6.1,8.5,0.71
55,3,Lemon,58,6.3,7.7,0.72
56,3,Lemon,58,5.9,8.1,0.73
57,3,Lemon,76,6.5,8.5,0.72
58,3,Lemon,59,6.1,8.1,0.70

In [9]:
data.shape

(59, 6)